/* src/index.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text */
}

h1, h2 {
  color: #ffffff; /* White text */
}

p {
  color: #ffffff; /* White text */
  line-height: 1.6;
}

/* Navbar styles */
.navbar {
  background-color: #000000; /* Black background */
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem;
}

.navbar .links {
  display: flex;
  gap: 1rem;
}

.navbar .links a {
  color: white;
  text-decoration: none;
}

.navbar .links a:hover {
  text-decoration: underline;
}

/* Home and Issuedlist page styles */
.home, .issuedlist {
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  background-color: #808080; /* Gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff; /* White text */
}

/* Printcheque and Report page styles */
.printcheque, .report {
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  background-color: #808080; /* Gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff; /* White text */
}

.printcheque {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.printpreview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2rem;
  background-color: #808080; /* Gray background */
  color: white;
}

button {
  background-color: #000000; /* Black background */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #333333; /* Darker black background */
}

button:active {
  background-color: #666666; /* Even darker black background */
}
